* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.home {
  display: flex;

  .home-container {
    flex: 6;
  }
}

.react-modal-overlay {
  background: rgba(0, 0, 0, 0.5);

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  .react-modal-content {
    width: 100%;
    max-width: 576px;
    background: #f2f2f2;
    padding: 3rem;
    position: relative;
    border-radius: 0.25rem;

    form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h2{
        color: rgb(32, 32, 32);
        font-size: 1.5rem;
        margin-bottom: 2rem;
      }

      input{
        width: 100%;
        padding: 0 1.5rem;
        height: 4rem;
        border-radius: 0.25rem;

        border: 1px solid #d7d7d7;
        background-color: #e7e9ee;

        font-weight: 400;
        font-size: 1rem;

        & + input{
            margin-top: 1rem;
        }
      }

      button{
        width: 100%;
        padding: 0 1.5rem;
        height: 4rem;
        
        background-color: #289c64;
        color: #FFF;
        border-radius: 0.25rem;
        border: 0;

        font-size: 1rem;
        font-weight: 600;
        margin-top: 1.5rem;

        cursor: pointer;

        transition: filter 0.3s;

        &:hover{
            filter: brightness(1.2);
        }
      }
    }
  }

  .react-modal-close{
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    border: 0;
    background: transparent;
    cursor: pointer;
    font-size: 25px
  }
}
